
  <div class="container">
    <div class="jumbotron">
      <h1>About</h1>
      <h2>Produced with love by @wisevehicle</h2>
      <p>One day, late in the evening @wisevehicle realized he had gotten behind on writing stories for his project.
         When a quick scan of the interwebs did not turn up any grounded<sup>1</sup> tools to manage clear user stories
         he decided to build his own. It doesn't do too much <i>yet</i>, but it does make writing stories quick, easy,
         and it doesn't look half bad</p> 
    </div>
  </div>
