
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="jumbotron">
          <h1>Welcome to Use your stories</h1>
          <p>If you've made it this far, someone wants you to understand more about what they are trying to build
            <br>From here you can access
            <a href="/stories/add">add stories</a>,
            <a href="/stories">read already created stories</a>,
            and that's about it.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h2>More to come</h2>
        <p>No Really, more.</p>
      </div>
      <div class="col-md-4">
        <h2>Ipsum time</h2>
        <p>Foo bar baz bing </p>
      
      </div>
      <div class="col-md-4">
        <h2>Lorem Time</h2>
        <p>blah blah yes yes</p>
      </div>
    </div>
  </div>
