

<style>
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .graph{ background-color: hsl(184, 30%, 45%);}
  .savings-count{ display: inline-block;}
  .savings-count span{ margin: 0px 20px; color: #BFD98D;}

  .d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.stacked-input{ margin: 5px 0 0 5px;}

#update{ width: 100%;}
</style>

<div class="container">
		<h2>Savings over time</h2>
	

	<div class="row">
		<% erb :'templates/bootstrap_file_input' %>
	</div>

  <div class="row">
    <div class="col-md-3">
      <h3>Salary Information</h3>
      <% [2,1,0].map{ |b| Time.now.year - b }.each_with_index do |yr,i| %>
      <div class="input-group stacked-input">
        <span class="input-group-addon">$</span>
        <input id="salary-<%= i %>" type="number" class="form-control salary" placeholder="30">
        <span class="input-group-addon"><%= yr %></span>
      </div>
        <% end %>
      <p>Please input your annual salary information over the last three years.</p>
    </div>
    
    <div class="col-md-3">
      <h3>Total Expenses</h3>
      <% [2,1,0].each_with_index do |i| %>
      <div class="input-group stacked-input">
        <span class="input-group-addon">$</span>
        <input id="expenses-<%= i %>" type="number" class="form-control expenses" placeholder="30">
        <span class="input-group-addon"><%= (Time.new( 2014, Time.now.month - i)).strftime('%B') %></span>
      </div>
      <% end %>
         <p>Please input the total amount you spent in each of the last three months.</p>
     </div>
     
     <div class="col-md-3">
      <h3>Fixed Expenses</h3>
      
          <div class="input-group stacked-input">
            <span class="input-group-addon">$</span>
            <input id="housing" type="number" class="form-control other" placeholder="8000">
            <span class="input-group-addon">Housing</span>
          </div>
            <p class="help-block">Monthly rent or mortgage.</p>
        
          <div class="input-group">
          <span class="input-group-addon">$</span>
          <input id="other-fixed" type="number" class="form-control other" placeholder="8000">
          <span class="input-group-addon">Other</span>
        </div>
          <p class="help-block">Amount spent monthly on loans, insurace, etc.</p>
      </div>
      
    <div class="col-md-3">
      <table>
        <tr><td></td><td>Monthly</td><td>Yearly</td></tr>
        <tr><td>Income</td><td class="m-income">0</td><td class="y-income">0</td></tr>
        <tr><td>Expenses</td><td class="m-expenses">0</td><td class="y-expenses">0</td></tr>
        <tr><td>Savings</td><td class="m-savings">0</td><td class="y-savings">0</td></tr>
      </table>
    </div>
  </div>
 
   <button  id="update" class="btn btn-success btn-lg">Build Basic Chart</button>
  

		

	
	<div id="savings-chart" class="row-fluid"></div>

	</div>
	
<script src="/javascripts/vendor/d3.js/d3.min.js"></script>
<script src="/javascripts/vendor/d3.js/d3.tip.js"></script>
<script src="/javascripts/vendor/numeral/numeral.min.js"></script>


<script src="/javascripts/chartHelpers.js"></script>

<script src="/javascripts/financial.js"></script>
<script src="/javascripts/savings.js"></script>
<script src="/javascripts/savingschart.js"></script>

</div>
<script>

function f$( a ){
	return numeral(a).format('$ 0,0')
}
function fpct( a ){
	return numeral(a).format('0%')
}


function updateLabels(  ){

	var end = investedSavings.length - 1,
		big =  f$( investedSavings[end] ),
		small = f$( tyCumSavings[end] ),
		diff = fpct( investedSavings[end] /  tyCumSavings[end]),
		goalBig = f$( tyRawInvestedSavings.last),
		goal = f$( tyRawSavings.last),
		gDiff = fpct( tyRawInvestedSavings.last / tyRawSavings.last)
		
	
	$('.invested').text(big );
	$('.base').text(small );
	$('.pct').text(diff )
	$('.goal-invested').text(goalBig );
	$('.goal-base').text(goal );
	$('.goal-pct').text(gDiff)
}

function updateSimulation( years, apr, savings ){
	graphSimulatedYears( mintIncome, mintExpenses, years, apr)
	//simulateMintYears( years, $('#pct').val()/100.0)
	//updateLabels()
}
var mintIncome = [12811.89, 4230.22, 3931.80, 9166.50, 6033.65, 4546.02, 6938.41, 6096.16, 10321.02, 3377.54, 5718.03, 6413.12, 3862.87, 3410.32, 9196.66, 25833.85, 18851.94, 38987.00, 30475.56, 4725.66, 10673.62, 6105.52, 1124.40, 11748.22, 8302.32, 7182.95, 16024.20, 3890.71, 5887.67, 5325.65, 21149.34, 12589.97, 13780.97, 18940.41 ]
var mintExpenses = [5352.88, 3431.86, 8022.97, 4998.71, 4233.98, 2922.49, 2951.60, 2649.15, 2345.70, 3274.09, 4058.73, 2686.81, 9005.72, 2570.76, 4846.87, 5252.93, 9526.73, 6170.92, 8558.66, 12823.73,6429.63, 11950.61, 13868.34,10619.37,11374.72,11943.35,9535.41, 12655.09,8756.46, 9365.86, 12537.45,11452.04,9567.09, 8455.03, 7771.48, 7114.28, 8428.48, 17748.37,6650.58, 6722.91, 4937.41]


function cleanData(datum){
	datum = datum.replace(',','')
	return +datum.replace('$','')
}

function seedDataFromMint( mint ){
	var seed = {}
	seed.income = loaded_file.data.map(function(x){ return cleanData(x.Income) } )
	seed.expenses = loaded_file.data.map(function(x){ return cleanData(x.Expense) } )

	seed.income.pop()
	seed.expenses.pop()

	return seed
}

//cashflow is per month
//yearlyCashflow is per year

function monthlyIncome(salary){
  return salary / 12.0;
}

function CashFlow( ){

  var income = 0
  var salaries = [0]

  var expenses = []
    
    this.housing = 0
    this.other = 0


    this.__defineSetter__("salary", function(val){
        income = val / 12;
    });

    this.__defineGetter__("salary", function(){
        return income * 12;
    });

     this.__defineGetter__("income", function(){
        return income;
    });

    this.__defineGetter__("avgExpenses", function(){
        if( expenses.length < 1) return 0;

      return expenses.avg
    });

    this.__defineGetter__("yearlyExpenses", function(){
        if( expenses.length < 1) return 0

      return expenses.avg * 12
    });

    this.__defineGetter__("allExpenses", function(){
        return expenses;
    });

    this.__defineGetter__("yearlySavings", function(){
        if( expenses.length < 1) return this.salary

      return this.salary - this.yearlyExpenses
    });

    this.__defineGetter__("avgSavings", function(){
        if( expenses.length < 1) return income

      return income - this.avgExpenses
    });

    this.addExpense = function(val){ expenses.push(val) };

    this.addExpenses = function(val){ expenses = expenses.concat( val ) };
  


}

Object.defineProperties( Array.prototype, 
      { sum: { get: function(){ return this.reduce(function(a,b){ return +a + +b})}},
        avg: { get: function(){ return this.sum / this.length }}
      }
  )


function dataAdded(e){

    console.log( e + ', ' + $(this).val())

}

var cf = new CashFlow( )

function updateSalary( e ){
  cf.salary = $(e).val()
  $(document).trigger('cashflow-change')
}

function updateExpenses( e ){
  cf.addExpense( $(e).val() )
  $(document).trigger('cashflow-change')
}

function updateTable( ){
  console.log('hi')
  $('.m-income').text( f$(cf.income) )
  $('.y-income').text( f$(cf.salary) )

  $('.m-expenses').text( f$(cf.avgExpenses) )
  $('.y-expenses').text( f$(cf.yearlyExpenses) )

  $('.m-savings').text(f$(cf.avgSavings))
  $('.y-savings').text(f$(cf.yearlySavings))
}

$(function(){

  $(document).on('cashflow-change', updateTable )
	//graphSimulatedYears( mintIncome, mintExpenses, 10, 0.08)
	//simulateMintYears( 10, 0.08 )
  $('.salary').on('change', function(e){ updateSalary(this) } )
  $('.expenses').on('change', function(e){ updateExpenses(this) })
  //, .other').on('change', dataAdded)

	$('#update').click(function(e){ 
		updateSimulation( $('#yrs').val() * 1.0, 
						  $('#pct').val() / 100.0,
			 			  $('#monthly').val() * 1.0 )
	})

 $(document).on('loadedfile', function(event, file) { 
 		var s = seedDataFromMint( file )
 		mintIncome = s.income
 		mintExpenses = s.expenses
 		graphSimulatedYears( s.income, s.expenses, 10, 0.08)

  } );

})

</script>