<style>
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
  .graph{ background-color: hsl(184, 30%, 45%);}
  .savings-count{ display: inline-block;}
  .savings-count span{ margin: 0px 20px; color: #BFD98D;}
</style>

<div class="container">
	
	<div class="Row">
		<h2>Savings over time</h2>
		<h3 class="col-md-4 savings-count">Invested Savings: <span class='invested'></span></h3>
		<h3 class="col-md-4 savings-count">Base Savings: <span class='base'></span></h3>
		<h3 class="col-md-4 savings-count">
			Invested is<span class='pct'></span> more than base.
			</h3>
		<div id="savings-chart"></div>

	</div>
<script src="/javascripts/vendor/d3.js/d3.min.js"></script>
<script src="/javascripts/savings.js"></script>
<script src="/javascripts/savingschart.js"></script>
</div>
<script>
$(function(){
	makeAllYears( 30 );
	graphTwenty( );	

	var big = Math.round( investedSavings[359] ),
		small = Math.round( tyCumSavings[359] ),
		diff = Math.round( ( investedSavings[359] /  tyCumSavings[359]) * 100.00 )
	$('.invested').text('$'+ big)

	$('.base').text('$' + small );
	$('.pct').text(diff + '%')

})



</script>