<div class="alert alert-success approved-message" style="display:none;">
      <strong>Well done!</strong><span class="name" style="margin-left:15px">NAME</span> was <span class="message">MESSAGE</span>.
</div>