

<div class="navbar navbar-default navbar-static-top">
    <style>
    .body {
        padding-top:70px
    }
    .view li.editor,
    .view li.admin,
    .editor li.admin{ display: none;}
    </style>
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                 <span class="glyphicon glyphicon-send glyphicon-large"></span>
                <span style="line-height:32px; margin-left: 5px; font-size:32px">Big Money</span>
            </a>

             
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="/">Home</a>
                </li>
                 <li class="">
                    <a href="/about">About</a>
                </li>
               
            </ul>
        </div>
    </div>
</div>
